.signUp {
  border: none;
  padding: 0.8em 1.7em;
  border-radius: 1em;
  text-align: center;
  text-decoration: none;
  background: var(--greenSecondary);
  cursor: pointer;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s all ease;

  a{
    font-family: "Outfit", sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: #fff;
  }

  &:hover {
    transform: translateY(-3px);
  }
}
