.container {
  width: 100%;
  margin: 15em auto;
  padding: 0 10%;
  cursor: context-menu;

  h1 {
    font-size: 4em;
    color: var(--bluePrimary);
    text-align: center;
    margin-top: 2em;
  }

  .cardContainer {
    margin-top: 5em;
    display: grid;
    gap: 5em 1em;
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));

    .card {
      border: 0.1px solid rgb(236, 236, 236);
      transition: 0.2s all ease;
      border-radius: 1em;
      * {
        padding: 20px;
      }
      h2 {
        font-size: 1.6em;
        color: var(--bluePrimary);
      }

      p {
        padding-top: 0;
        color: var(--greenPrimary);
        line-height: var(--primaryLineHeight);
        font-size: 1.1em;
      }

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.15);
        border: 0.1px solid rgb(255, 255, 255);
      }
    }
  }
}
