.container {
  display: flex;
  justify-content: space-around;
  padding: 6em;
  margin: 0 auto;
  background: #efefef;
  width: 100%;

  .logoContainer {
    display: flex;
    flex-direction: column;
    // gap: 0.5em 0;
    justify-content: space-between;
    h1 {
      color: var(--greenPrimary);
      font-size: 2em;
    }
    p {
      color: var(--bluePrimary);
      font-size: 1.2em;
    }
    
    .copyright {
      color: rgb(187, 187, 187);
      font-size: 1em;
    }
  }

  .linkContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    a {
      font-size: 1.1em;
      color: var(--greenPrimary);
      transition: 0.2s all ease;

      &:hover {
          color: var(--greenHover);
      }
    }
  }
}