:root {
  --greenPrimary: #61A59A;
  --greenSecondary: #84D9CC;
  --greenHover: #42726a;
  --bluePrimary: #7290D5;
  --grayPrimary: #BFBFBF;
  --primaryLineHeight: 1.5em;
}

::placeholder {
  color: var(--grayPrimary);
}

html,
body {
  font-family: 'Outfit', sans-serif;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}