.mainContainer {
    margin: 0 auto;
    .hrLine {
        margin: auto;
        border-color: rgb(197, 197, 197);
        border-style: none;
        border-top-style: solid;
        border-radius: 50px;
        border-width: 0.2em;
        width: 2%;
    }
}

