.container {
  width: 100%;
  margin: 10em auto;
  display: flex;
  justify-content: space-evenly;

  * {
    place-self: center;
  }

  .containerText {
    h1 {
      color: var(--bluePrimary);
      font-size: 3em;
    }
    h1:nth-child(2) {
      margin-bottom: 0.2em;
    }

    p {
      font-size: 1.1em;
      color: var(--grayPrimary);
      margin-bottom: 1em;
      font-style: italic;
    }

    .authButton {
      display: flex;
      .signIn {
        margin-left: 1em;
      }
    }
  }

  .containerImage {
  }
}
