.navContainer {
    display: flex;
    justify-content: space-evenly;
    height: 6em;
    align-items: center;
    width: 100%;
    font-size: 1.3em;
    color: var(--greenPrimary);
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.1);

    .logo {
        font-weight: 700;
    }

    .navItems {
        a {
            cursor: pointer;
            transition: 0.2s all ease;
            margin-left: 4em;

            &:hover {
                color: var(--greenHover);
            }
        }
    }
    
}
