.container {
  width: 50%;
  margin: 10em auto;
  display: flex;
  flex-direction: column;
  gap: 7em 0;

  * {
    gap: 7em;
  }
  .card {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;

    .content {
      width: 60%;
      h1 {
        font-size: 3em;
        margin-bottom: 0.3em;
        color: var(--greenPrimary);
      }
      p {
        font-size: 1.2em;
        color: var(--bluePrimary);
        line-height: 1.5em;

        span {
          font-weight: bold;
        }

      }

      ul {
        li {
          color: var(--bluePrimary);
          font-size: 1.2em;
          line-height: 1.6em;
        }
      }
    }

    .image {
      transition: 0.2s all ease;

      &:hover {
        transform: translateY(-1px);
          }
    }
  }

  .card:nth-child(2) {
    flex-direction: row-reverse;
  }
}
