.container {
    text-align: center;
    margin-bottom: 10em;
    h1 {
        color: var(--bluePrimary);
        font-size: 3em;
        margin-bottom: 0.5em;
    }

    .authButton {
        display: flex;
        justify-content: center;
        gap: 2em;
    }
}