.container {
  height: 80vh;
  margin: 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10em;

  .image {

  }

  .formContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2em;

    h1 {
      font-size: 2em;
      color: var(--bluePrimary);
    }

    p {
      color: rgb(173, 173, 173);

      a {
        transition: 0.2s all ease;
        color: rgb(105, 105, 105);
        
        &:hover {
          color: var(--greenPrimary);
        }
      }
    }
    P:nth-child(3) {
      margin-top: 0.5em;
    }

    form {
      display: flex;
      flex-direction: column;

      input {
        width: 100%;
        outline: none;
        font-size: 1.1em;
        padding: 0.8em;
        border: 2px solid var(--grayPrimary);
        margin-bottom: 1em;
        transition: 0.1s all ease;

        &:focus {
          border: 2px solid var(--greenPrimary);
        }
      }
      button {
        color: var(--grayPrimary);
        font-size: 1.5em;
        border: none;
        padding: 0.8em 0.5em;
        border-radius: 0.7em;
        text-align: center;
        text-decoration: none;
        background: #fff;
        cursor: pointer;
        box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.1);
        transition: 0.2s all ease;
        font-weight: bold;
        width: 35%;
        margin: 0 auto;

        &:hover {
          color: var(--greenPrimary);
          transform: translateY(-3px);
        }
      }
    }
  }
}
