.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  justify-items: center;
  margin: 10em auto;

  padding: 0 10%;

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      color: var(--greenPrimary);
      font-size: 2.7em;
      margin-bottom: 0.3em;
    }
    p {
      color: var(--bluePrimary);
      font-size: 1.3em;
      line-height: 1.3em;

      span {
        font-weight: bold;
      }
    }
  }

  .imageContainer {
    display: flex;
    gap: 2em;

    .image {
      transition: 0.2s all ease;    
      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}
